body {
    background-color: rgb(204, 221, 226);
}

table, th {
    border: 10px dotted rgb(0, 69, 90);
  }

  table td {
    border: 1px solid rgb(11, 152, 207);
  }

  table {
      width: 15cm;
      height: 10cm;
  }

  thead {
      background-color: rgb(11, 152, 207);
      color: black;
  }

  h1 {
      color: rgb(5, 57, 92);
  }

  div {
    margin-left: 17cm;
    margin-top: 1cm;
  }